html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    padding: 0;
    margin: 0;
}

.header {
    background-color: rgb(17, 17, 110);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    a {
        text-decoration: none;
        color: white;
        padding: 5px;
        height: 50px;
    }

    a:hover {
        color: orange;
        background-color: white;
        border-radius: 3px;
    }
}

ul {
    display: flex;
    gap: 10px;
}
.subheader {
    display: flex;
    gap: 10px;
    align-items: center;
}

.sidebar {
    right: 0;
    width: 15%;
    height: 100%;
    background-color: black;
    position: fixed;
    display: none;

    
}

.body {
    margin-right: 25%;
}